@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(8, 25, 54); */
    font-family: 'Varela Round', sans-serif;
    color:rgb(179, 131, 252);
    overflow: hidden;
}

.name{
    height: 10vh;
    padding-top:20px;
    margin-top: 10px;
    display: flex;
}

.contains{
    background-color: rgb(8, 25, 54);
    border-radius: 0px 0px 20px 20px;
}
.name h1{
    font-size: 65px;
    padding-right: 10px;
}
.input{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 30vw;
    justify-content: flex-start;
    align-items: center;
}
#cityname{
    position: relative;
    width: 30vw;
    height: 5vh;
    margin: 1vh;
    font-size: 30px;
    border-radius: 1rem;
    text-align: center;
    color:rgb(179, 131, 252);
    background-color: rgb(8, 25, 54);
}
#submit{
    width: 50px;
    height: 50px;
    margin: 1vh;
    background-color: white;
    border-radius: 10%;
}
#submit:hover{
    cursor: pointer;
    transition: all 0.3s linear;
    color: white;
}
#card--container{
    height: 65vh;
}
.result{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1vh;
    width: 23vw;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.549);
    border-radius: 20px;
    
}
.res1{
    opacity: 0%;
}
.result div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#city{
    height: 7vh;
    width: 100%;
    font-size: 60px;
    padding-top: 10px;
    /* margin-top: 3px; */
    text-align: center;
    background-color: rgb(8, 25, 54);
    border-radius: 20px 20px 0 0;
}
#sky{
    height: 10vh;
    font-size: 30px;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}
#temp{
    height: 10vh;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
#wind{
    font-size: 30px;
    width: 100%;
    text-align: center;
    height: 10vh;
}
#icon img{
    width: auto;
    height: auto;
}
.contact{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items :center;
    padding-bottom: 10px;
}
a{
    padding: 20px;
}
a:hover{
    transition: all 0.3s linear;
    color:rgb(179, 131, 252);
    transform: scale(1.5);
}